{% extends 'layouts/base.html' %} {% block content %}


<div class="container mt-4">
  <div class="row">
    <div class="d-flex">
      <button class="btn btn-success ms-auto mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Yangi oyga oylik tolov qo'shish <i class="bi bi-bag-plus-fill"></i>
      </button>
    </div>
    <div class="collapse" id="collapseExample">
      <div class="card card-body shadow-sm">
        <div class="col-lg-12">
         
          <form method="POST" action="">
            {% csrf_token %}
              <div>
                {{ form.as_p }}
              </div>
              <div class="d-flex">
                <button class="btn btn-success ms-auto">Saqlash</button>
              </div>
            
          </form>
          
        </div>
      </div>
    </div>
    
  </div>
</div>



<div class="container table-responsive py-5">
  <table class="table table-bordered table-hover shadow-sm">
    {% for product in product %}
    
    <thead class="">
      <tr class="">
        <th scope="col">Ism</th>
        <th scope="col">{{ product.customer.firstName }}</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col">Mahsulot nomi</th>
        <th scope="col">{{ product.productName }}</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col">Boshlang'ich to'lov</th>
        <th scope="col">{{ product.startingFee }}</th>
      </tr>
    </thead>

    
    <thead class="">
      <tr class="">
        <th scope="col">Necha marotaba to'landi</th>
        <th scope="col">{{ payment_count }}</th>
      </tr>
    </thead>
    


    <thead class="">
      <tr class="">
        <th scope="col">Oylik to'lov</th>
        <th scope="col">{{ product.amountOfMonth }}</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col">Foiz</th>
        <th scope="col">{{ product.taxRate }}%</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col">Maxsulot tan narxi</th>
        <th scope="col">{{ product.costProduct }} $</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col">Barcha to'lov(foiz bilan)</th>
        <th scope="col">{{ product.totalPrice }}</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col">Keyingi to'lov summasi</th>
        <th scope="col">{{ product.nextPaymentAmount }}</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col">To'lov muddati</th>
        <th scope="col">{{ product.duration }}-oy</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col">Olingan sana</th>
        <th scope="col">{{ product.startedAt }}</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col">Tugash sanasi</th>
        <th scope="col">{{ product.finishedAt }}</th>
      </tr>
    </thead>

    
    <thead class="">
      <tr class="">
        <th scope="col">Tel</th>
        <th scope="col">{{product.customer.phoneNumber}}</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col">Check id</th>
        <th scope="col">{{ product.customer.checkId }}</th>
      </tr>
    </thead>

    <thead class="">
      <tr class="">
        <th scope="col">Parol</th>
        <th scope="col">{{product.customer.password}}</th>
      </tr>
    </thead>
    
  {% endfor %}
  </table>
</div>



<div class="container table-responsive">
  <table class="table table-bordered shadow-sm table-hover">
    
    <thead class="">
      <tr class="">
        <th scope="col">Qachon</th>
        <th scope="col">Qancha to'landi</th>
      </tr>
    </thead>
    {% for add in payment %}
    <thead class="">
      <tr class="">
        <th scope="col">{{ add.date }}</th>
        <th scope="col">{{ add.amount }}$</th>
      </tr>
    </thead>
    {% endfor %}
  
  </table>
</div>


{% endblock %}
