{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Auto Nasiya</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
</head>

<body>

  
  <nav class="navbar navbar-expand-lg navbar-light bg-light d-none d-md-block border-bottom shadow-sm">
    <div class="container">


      <a class="navbar-brand" href="{% url 'index' %}">Bosh sahifa</a>
      <div class="d-flex">
        
        {% if request.user.is_staff %}
          <form method="GET" action="" class="d-flex search-container">
            <div class="search-input-container me-3">
                <input class="form-control rounded-pill shadow-sm search-input" type="text" placeholder="Mijoz qidirish..." aria-label="Search" name="q" value="{% if query %}{{ query }}{% endif %}" autocomplete="off">
                <i class="fas fa-search search-icon"></i>
            </div>
          </form>
            
          
        {% endif  %}
        
        
        <div class="dropdown">
            <a type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" href="{% url 'login' %}"><img class="rounded rounded-circle ms-2" style="max-height: 50px" src="{% static 'images/pro.webp' %}"></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              
              {% if request.user.is_authenticated %}
                {% if request.user.is_staff %}
                  <a href="{% url 'account' %}"><button class="btn btn-outline-success ms-3 mt-2 mb-2">Mijoz qo'shish</button></a>
                {% endif%}
                <li><a class="dropdown-item" href="{% url 'logout' %}">Tizimdan chiqish</a></li>

                <li><a class="dropdown-item" href="{% url 'ChangePassword' %}">Parol o'zgartirish</a></li>
              {% else %}
                <li><a class="dropdown-item" href="{% url 'login' %}">Tizimga kirish</a></li>
              {% endif%}
              
            </ul>
        </div>
      </div>

    </div>
  </nav>

  <div class="d-block d-md-none">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <a class="navbar-brand text-dark" href="{% url 'index' %}">Bosh sahifa</a>


          <div class="dropdown">
            <a type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" href="{% url 'login' %}"><img class="rounded rounded-circle ms-2" style="max-height: 50px" src="{% static 'images/pro.webp' %}"></a>
            <ul class="dropdown-menu ms-auto" aria-labelledby="dropdownMenuButton1">
              
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link text-dark" href="{% url 'account' %}"><button class="btn btn-outline-success">Mijoz qo'shish</button></a>
              </li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Tizimdan chiqish</a></li>
              {% else %}
                <li><a class="dropdown-item" href="{% url 'login' %}">Tizimga kirish</a></li>
              {% endif%}
              
            </ul>
        </div>
      </div>
    </nav>
  </div>
  
  {% block content %}{% endblock %}


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>