{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Auto Nasiya</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
</head>

<body>

    <div class="container" >
        <div class="row" style="display: flex; align-items: center; justify-content: center; height: 100vh;">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Tizimga kirish</h3>
                    </div>
                    <div class="card-body mt-2">
                        
                        <form method="POST" action="{% url 'index' %}">
                            {% csrf_token %}
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="username" class="form-control">
                            <br>
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" class="form-control">
                            <br>
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-success mt-3">Tizimga kirish</button>
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}

    
    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>