{% extends 'layouts/base.html' %}
{% block content %}

<div class="container table-responsive py-5">
  <table class="table table-bordered table-hover">
    <thead class="bg-success">
      <tr class="text-white">
        <th scope="col">Ism</th>
        <th scope="col">Check Id</th>
        <th scope="col">Tel</th>
      </tr>
    </thead>
    {% for item in customer %}
    <tbody>
      <tr>
        <td><a class="text-dark" href="{% url 'customer-detail' item.id %}">{{ item.firstName|slice:":18" }}</a></td>
        <th scope="row"><a class="text-dark" href="{% url 'customer-detail' item.id %}">{{ item.checkId|slice:":5" }}...</a></th>
        <th scope="row"><a class="text-dark" href="{% url 'customer-detail' item.id %}">{{ item.phoneNumber }}</a></th>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock %}
